@media screen and (max-width: 768px) {
    .web3title{
        font-size: 60px;
    }

    .slogan{
        font-size: 30px;
    }

    .features-container {
        display: block;
        text-align: center; /* Center align the block */
    }

    .feature {
        width: 90%; /* Adjust width as needed */
        margin: 20px auto; /* Center the block and provide spacing */
    }

    .features {
        width: 100%;
    }

    .features figure {
        width: 100%;
        aspect-ratio: 1 / 1; /* Adjust aspect ratio as needed */
    }

    .features img {
        width: 100%;
        height: auto;
    }

}
