@font-face {
    font-family: 'DMSans';
    src: url(DMSans-Bold.ttf);
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    margin: 0; 
}

.container:before {
    content: ""; 
    background-image: url(Rain-50s-1879px.svg); 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    opacity: 0.3; 
}

.grid {
    position: relative; 
}

.cell1{
    margin-top: 300px;
    position: relative; 
    z-index: 1; 
}

.cell2{
    margin-top: 0x;
    position: relative; 
    z-index: 1; 
}

.web3title{
    align-self: end;
    text-align: center;
    font-size: 100px;
    font-family: 'DMSans', sans-serif;
}
.slogan{
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
    font-family: 'DMSans', sans-serif;
} 

.slogan2{
    color: grey;
    font-size: 24px;
    text-align: center;
    margin-top: -30px;
    font-family: 'DMSans', sans-serif;
} 

.cool{
    background-color: #b0f9ff;
    border: 1px solid;
    border-radius: 2rem 8rem 8rem 9rem / 3rem 11rem 6rem 5rem;
}

/*video*/
.container-video {
    width: 100%;
    padding: 20px 0;
    margin-top: 100px;
}

.grid-video {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.video-card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-card iframe {
    width: 100%;
    height: 200px;
}

.video-text {
    text-align: center;
}

.video-text h3 {
    margin-bottom: 10px;
}

.video-text p {
    color: #777;
}

* {
    box-sizing: border-box;
  }

   .mike{
    font-weight: 400;
    margin: 2rem 0 0.25rem 0;
  }
  
  .mike{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    opacity: 0.5;
    margin: 0;
  }
  
  .course{
    margin: 0;
  }
  
  .mike{
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  figure {
    width: 330px;
    aspect-ratio: 8 / 5;
    --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
    --accent: #00FFFF;
    transition: background 0.2s;
    background:
      radial-gradient(circle at top left, var(--accent), transparent 75%),
      var(--bg);
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  
  figure:after {
    content: "";
    position: absolute;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 0%;
    left: 10%;
    background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
    filter: blur(25px);
    transform:
      translateX(calc(var(--hover) * 15%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s, background 0.2s;
  }
  
  img {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 40%;
    transform:
      translateX(calc(var(--hover) * -15%))
      scale(calc(1 + (var(--hover) * 0.2)));
    transition: transform 0.2s;
  }
  
  article {
    --hover: 0;
  }
  
  article:hover {
    --hover: 1;
  }

.features-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.feature {
    flex: 1;
    margin: 0 5px; /* Adjust the gap between features */
}

.members{
    font-size: 30px;
    font-family: 'DMSans', sans-serif;
}
